// Use file instead of data: uri so it doesn't require to lower CSP strength
$navbar-dark-toggler-icon-bg: url(../images/navbar-toggle.svg);

@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome";

.page-home {
    padding-top: 22vh;
    padding-bottom: 10vh;
}

.page-recent {
    padding-top: 10vh;
}

.extension-icon {
    width: 4em;
    height: 4em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0.3em;
    text-align: center;
}

.extension-icon .fa {
    font-size: 2em;
    line-height: 2em;
}

.scan-rating {
    display: inline-block;
    min-width: 2em;
    text-align: center;
    font-weight: bold;

    &[data-rating^=A] {
        color: green;
    }

    &[data-rating^=B] {
        color: orange;
    }

    &[data-rating^=C] {
        color: red;
    }

    &[data-rating^=D] {
        color: brown;
    }
}

.ScanRatingDetails {
    .scan-rating {
        font-size: 3em;
    }

    .list-group {
        font-size: 0.9em;
    }

    .list-group-item {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
}

.icon-flarum {
    width: 0.8em;
    height: 1em;
    vertical-align: middle;
    background-size: contain;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23212529%22%20d%3D%22m6.002%200c-1.6582%200-3.002%201.3382-3.002%203.002v23.621c0.024834%200.74253-0.0004992%201.5124%201.7871%202.6602v0.0039l17.137%2010.74v-12l-17.041-0.027c0.059849-0.56765%200.61084-1.0276%202.3477-0.93945h29.769v-27.061h-30.998z%22%2F%3E%3C%2Fsvg%3E") no-repeat center center;
}
