// Use file instead of data: uri so it doesn't require to lower CSP strength
$navbar-dark-toggler-icon-bg: url(../images/navbar-toggle.svg);

@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.page-home {
    padding-top: 18vh;
    padding-bottom: 8vh;
}

.new-scan-area {
    padding-bottom: 10vh;
}

.extension-icon {
    width: 4em;
    height: 4em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0.3em;
    text-align: center;
}

.extension-icon .fa {
    font-size: 2em;
    line-height: 2em;
}

.scan-rating {
    display: inline-block;
    min-width: 2em;
    text-align: center;
    font-weight: bold;

    &[data-rating^=A] {
        color: green;
    }

    &[data-rating^=B] {
        color: orange;
    }

    &[data-rating^=C] {
        color: red;
    }

    &[data-rating^=D] {
        color: brown;
    }
}

.ScanRatingDetails {
    .scan-rating {
        font-size: 3em;
    }

    .list-group {
        font-size: 0.9em;
    }

    .list-group-item {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
}

.icon-flarum,
.icon-extiverse {
    vertical-align: baseline;
    margin-bottom: -0.1em;
    background-size: contain;
    background: no-repeat center center;
}

.icon-flarum {
    width: 0.81em;
    height: 0.9em;
    background-image: url(../images/flarum-mono.svg);
}

.icon-extiverse {
    width: 1em;
    height: 1em;
    background-image: url(../images/extiverse.svg);
}

.sponsoring {
    font-size: 0.9em;
    padding: 10px 0;
}

.showcase-img {
    display: block;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.03);
    background-size: cover;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    padding-top: 50%; // screenshot ratio
    transition: box-shadow 0.1s;

    &:hover {
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
    }

    .showcase-missing-img {
        text-align: center;
        margin-top: -25%;
        line-height: 0;
        color: #bbb;
        font-weight: bold;
    }
}

.showcase-description {
    font-size: 0.9em;
}

.showcase-app {
    background: #e4ded2;

    .container {
        @include make-container-max-widths((
            sm: 540px,
            md: 720px,
            lg: 960px,
            xl: 1400px // Wider container on large screens
        ));
    }
}

.builtwithflarum-logo {
    background-repeat: no-repeat;
    background-image: url(../images/builtwithflarum.svg);
    background-size: contain;
    background-position: left center;
    height: 30px;
    width: 300px;
    text-indent: -9999px;
    overflow: hidden;
}

.taskslist pre {
    max-width: 300px;
    overflow-y: scroll;
}
