// Use file instead of data: uri so it doesn't require to lower CSP strength
$navbar-dark-toggler-icon-bg: url(../images/navbar-toggle.svg);

@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome";

.page-home {
    padding-top: 18vh;
    padding-bottom: 8vh;
}

.page-recent {
    padding-top: 10vh;
}

.extension-icon {
    width: 4em;
    height: 4em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0.3em;
    text-align: center;
}

.extension-icon .fa {
    font-size: 2em;
    line-height: 2em;
}

.scan-rating {
    display: inline-block;
    min-width: 2em;
    text-align: center;
    font-weight: bold;

    &[data-rating^=A] {
        color: green;
    }

    &[data-rating^=B] {
        color: orange;
    }

    &[data-rating^=C] {
        color: red;
    }

    &[data-rating^=D] {
        color: brown;
    }
}

.ScanRatingDetails {
    .scan-rating {
        font-size: 3em;
    }

    .list-group {
        font-size: 0.9em;
    }

    .list-group-item {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
}

.icon-flarum {
    width: 0.81em;
    height: 0.9em;
    vertical-align: baseline;
    margin-bottom: -0.1em;
    background-size: contain;
    background: url(../images/flarum-mono.svg) no-repeat center center;
}

.sponsoring {
    font-size: 0.9em;
    padding: 10px 0;
}
